* {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1rem;
}

body {
   display: grid;
   height: 100vh;
   grid-template-rows: 100px 1fr 70px;
   grid-template-columns: 100vw;
}

/* HEADER */
.header {
   display: flex;
   justify-content: center;
   height: 100%;
   box-shadow: 1px 9px 9px black;
   /* shadow not working */
}

.title {
   display: flex;
   align-items: center;
   font-size: 2rem;
   padding: 30px;
   width: 100%;
}

/* MAIN */
.main {
   background-color: #d6d6d6;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 30px;
   text-align: center;
}

#form>input {
   border: 2px solid white;
   border-radius: 5px;
   height: 30px;
   padding: 8px;
}

#form>button {
   border: none;
   border-radius: 5px;
   background-color: rgba(0, 128, 0, 0.500);
   padding: 5px 20px;
}

#form>button:hover {
   background-color: rgba(95, 168, 109, 0.800);
}

.no_valid_form {
   border: 2px solid red !important
}

.library {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 20px;
   width: 100%;
   margin: 30px 0;
   padding: 30px;
}

/* JS-Generated */
.book_card {
   background-color: aliceblue;
   display: flex;
   padding: 30px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   gap: 10px;
}

.btn_container {
   display: flex;
   width: 100%;
   flex-direction: column;
   gap: 10px;
}

.btn_container>button {
   padding: 5px;
}

/* FOOTER */
.footer {
   width: 100%;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #a9a9a9;
}

/* MEDIA QUERIES */
@media (width > 1200px) {

   .library,
   .title {
      max-width: 1200px;
   }
}